body{
    margin: -25px 0px;
    font-family: "Montserrat", sans-serif;
}


@media only screen and (min-width:320px) and (max-width: 500px){
    /*Seccion HEADER*/
.header{
    max-width: 100%;
    height: 100%;
}
.contenedor-imagenes{
    width: 100%;
    height: 150px;
}
.imagen-letra{
    width: 20vw;
    height: 15vh;
    position: relative;
    top: 40%;
    left: 22%;
    margin-left: -25px;
    border-radius: 100%;
    background-color: white;
}
.contenedor-nav{
    width: 100%;
    height: 35px;
    display: flex;
    background-color: #1e1e1e;
    box-shadow: 1px 2px 2px 1px #4A4A4A;
}
.contenedor-nav li{
    width: 100%;
    height: 100%;
    list-style: none;
    margin-top: 2%;
    text-align: center;
    position: relative;
    right: 5%;
}
.contenedor-nav li a{ 
    width: 100%;
    height: 30%;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 80%;
}



/*Sección INICIO titulo-imagenes-footer*/
.titulo-amigurumi{ 
    width: 65%;
    margin-top: 50px;
    margin-left: 17%;
}
.titulo-amigurumi h1{
    font-family: 'Edu VIC WA NT Beginner';
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 1px solid black;
    text-align: center;
}
.carousel-general{
    width: 100%;
    height: 100%;
}
.carousel-general .img1{
    border-radius: 10%;
    height: 307px;
}
.carousel-general .img2{
    border-radius: 10%;
}

.general-video-texto{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    
}
.videoInicio iframe{
    border-radius: 25px;
    width: 100%;
    height: 250px;
}

.parrafoInicio{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 5%;
    background-color: #1e1e1e;
    color: white;
 }
.parrafoInicio p{
    font-family: "Montserrat", sans-serif;
}
 
        
/*FOOTER*/
.footer-contenedor{
    background-color: #1e1e1e;
    color: white;
    display: flex;
    position: relative; 
    top: 50vh;
    height: 300px;
    justify-content: space-around;
}
.div-mediodepago{
    margin-top: 30px;
}
.div-mediodepago li{
    list-style: none;
}
.div-mediodepago h2{
    font-size: 20px;
    color: white;
}
.div-mediodepago a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.div-redes{
    margin-top: 30px;
}
.div-redes li{
    display: inline;
}
.icon{
    width: 40px;
    height: 40px;
    color: white;
}
.div-redes a{
    text-decoration: none;
    font-size: 10px;
    color: white;
}
        
.div-redes a:hover{
    color: #d4a373;
}


/* SECCION SOBRE MI*/
.parrafo-presentacion{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 1px 1px 1px 1px #4A4A4A;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}
.titulo-presentacion{
    width: 30%;
    font-size: 30px;
    font-family: 'Edu VIC WA NT Beginner';
    text-transform: uppercase;
    border-bottom: 1px solid #1e1e1e;
    position: relative;
    top: 20px;
    left: 37%;
    text-align: center;
}
.letra{
    background-color: white;
    width: 20vw;
    height: 15vh;
    margin-left: -45px;
    border-radius: 100%;
    border:1px solid;
    position: relative;
    left: 7%;
    top: 310px;
}

.corazon{
    color: red;
}    
       
        
        
/*SECCION CONSULTAS*/
.section-form{
    width: 100%;
    height: 100%;
}
.section-form h1{
    width: 60%;
    font-size: 30px;
    font-family: 'Edu VIC WA NT Beginner';
    text-transform: uppercase;
    border-bottom: 1px solid #1e1e1e;
    position: relative;
    top: 15px;
    left: 20%;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.datos-formulario{
    width: 60%;
    position: relative;
    top: 50px;
    text-align: start;
    margin: 15px;
    padding: 20px;
    border: 0;
    background-color: #d4a373;
    border-bottom:1px solid #1e1e1e;
    border-radius: 10px;
    transition: 1s;
}
.datos-formulario:focus{
    width:65%;
    text-align: start;
    margin: 5px;
    padding: 15px; 
    border: 0;
    background-color: #eee;
    border-bottom:1px solid #1e1e1e;
    border-radius: 10px;
}
.datos-formulario::placeholder{
    font-size: 15px;
    color: black;
}
        
.boton{
    width: 65%;
    margin: 2px 35vw;
    border-radius: 5px;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    position: relative;
    top: 50px;
}
.boton:active{
    width: 25%;
    margin: 2px 35vw;
    border-radius: 5px;
    padding: 10px;
    background-color: gray;
    color: white;
}
.footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    background-color: #1e1e1e;
    color: #d4a373;
    position: relative;
    top: 300px;
    padding: 50px;
}
.footer-nav p a{
    text-decoration: underline;
    color: white;
}
/*SECCION PRODUCTOS*/
.titulo-productos{
    width: 50%;
    font-size: 30px;
    font-family: 'Edu VIC WA NT Beginner';
    text-transform: uppercase;
    border-bottom: 1px solid #1e1e1e;
    position: relative;
    top: 15px;
    left: 25%;
    text-align: center;
        }
.productos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
        .card-body{
            width: 60%;
            height: 80%;
            border-radius: 10px;
            background-color: white;
            margin-top: 10%;
            margin-left: 20%;
            border: solid #1e1e1e;
        }
        
        /*
            animation-name: movimiento-imagen;
            animation-duration: 2s;
            animation-iteration-count: infinite;
       
        @keyframes movimiento-imagen {
            0%{
                box-shadow: 2px 0px 5px 0.5px #1e1e1e;
                transform: rotateY(10deg);
            }
            50%{
                box-shadow: -2px 0px 5px 0.5px #1e1e1e;
                transform: rotateY(-10deg);
            }
            100%{
                box-shadow: 2px 0px 5px 0.5px #1e1e1e;
                transform: rotateY(10deg);
            }
        }
        */
        .imagen{
            width: 100%;
            height: 50%;
            border-radius: 5px;
            box-shadow: 1px 0px 3px 1px #1e1e1e;
        }
        
        .tituloDelProducto{
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 130%;
            text-align: center;
            font-weight: 400px;
            font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
        }
        .precio{
            width: 80%;
            height: 8%;
            font-size: 15px;
            margin-left: 5%;
            text-align: center;
        }
        .descripcion{
            text-align: center;
            color: black;
            margin-bottom: 5%;
        }
        
        .card-link{
            display: inline;
            text-decoration: underline;
            font-size: 80%;
            font-style: italic;
            color: black;
            width: 100%;
            margin-left: 20%;
        }
        .card-body ion-icon{
            margin-left: -5%;
            font-size: 250%;
            position: relative;
            bottom: 5%;
            left: 15%;
        }
       /*
       .productos .card:hover .card-link-wsp{
            color: black;
            text-decoration: none;
        }
       .productos .card:hover .card-link-mediosdepago{
            color: black;
            text-decoration: none;
        }
        */ 
        
        /*SECCION METODO DE PAGO*/
        .titulo-metododepago{
            width: 40%;
            font-size: 40px;
            font-family: 'Edu VIC WA NT Beginner';
            text-transform: uppercase;
            border-bottom: 1px solid #1e1e1e;
            position: relative;
            top: 15px;
            left: 30%;
            text-align: center;
        }
        .section-metodos{
            border: 1px solid;
            margin-top: 25%;
        }
        .section-ul{
            display: block;
        }
        .section-li{
           text-decoration: none;
           list-style: none;
           font-size: 25px;
        }
        .section-li ion-icon{
          position: relative;
          top: 5px;
          margin-right: 15px;   
        }
        .section-li a{
            display: flex;
            font-size: 10px;
            position: relative;
            left: 50px;
            color: black;
        }
     
}
















@media only screen and (min-width: 501px) and (max-width: 769px){
    /*Seccion HEADER*/
    .header{
        max-width: 100%;
        height: 100%;
    }
    .contenedor-imagenes{
        width: 80vw;
        height: 150px;
        align-items: center;
    }
    .imagen-letra{
        width: 20vw;
        height: 16vh;
        position: relative;
        top: 40%;
        left: 30%;
        margin-left: -40px;
        border-radius: 100%;
        background-color: white;
    }
    .contenedor-nav{
        width: 100%;
        height: 35px;
        display: flex;
        background-color: #1e1e1e;
        box-shadow: 1px 2px 2px 1px #4A4A4A;
    }
    .contenedor-nav li{
        width: 100%;
        height: 100%;
        list-style: none;
        margin-top: 1%;
        text-align: center;
        position: relative;
        right: 5%;
    }
    .contenedor-nav li a{ 
        width: 100%;
        height: 30%;
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: 100%;
    }
    
    /*Sección INICIO titulo-imagenes-footer*/
    .titulo-amigurumi{ 
        width: 45%;
        margin-top: 50px;
        margin-left: 27%;
    }
    .titulo-amigurumi h1{
        font-family: 'Edu VIC WA NT Beginner';
        text-transform: uppercase;
        font-size: 30px;
        border-bottom: 1px solid black;
        text-align: center;
    }
    .carousel-general{
        width: 100%;
        height: 100%;
    }
    .carousel-general .img1{
        border-radius: 10%;
        height: 500px;
    }
    .carousel-general .img2{
        border-radius: 10%;
    }
    
    .general-video-texto{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        
    }
    .videoInicio iframe{
        border-radius: 25px;
        width: 100%;
        height: 250px;
    }
    
    .parrafoInicio{
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 5px;
        border-radius: 5%;
        background-color: #1e1e1e;
        color: white;
     }
    .parrafoInicio p{
        font-family: "Montserrat", sans-serif;
    }
     
            
    /*FOOTER*/
    .footer-contenedor{
        background-color: #1e1e1e;
        color: white;
        display: flex;
        position: relative; 
        top: 50vh;
        height: 300px;
        justify-content: space-around;
    }
    .div-mediodepago{
        margin-top: 30px;
    }
    .div-mediodepago li{
        list-style: none;
    }
    .div-mediodepago h2{
        font-size: 20px;
        color: white;
    }
    .div-mediodepago a{
        text-decoration: none;
        font-size: 15px;
        color: white;
    }
    
    .div-redes{
        margin-top: 30px;
    }
    .div-redes li{
        display: inline;
    }
    .icon{
        width: 40px;
        height: 40px;
        color: white;
    }
    .div-redes a{
        text-decoration: none;
        font-size: 10px;
        color: white;
    }
            
    .div-redes a:hover{
        color: #d4a373;
    }
    
    
    /* SECCION SOBRE MI*/
    .parrafo-presentacion{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        background-color: #1e1e1e;
        color: white;
        border-radius: 30px;
        padding: 25px;
        box-shadow: 1px 1px 1px 1px #4A4A4A;
        font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    }
    .titulo-presentacion{
        width: 30%;
        font-size: 30px;
        font-family: 'Edu VIC WA NT Beginner';
        text-transform: uppercase;
        border-bottom: 1px solid #1e1e1e;
        position: relative;
        top: 20px;
        left: 37%;
        text-align: center;
    }
    .letra{
        background-color: white;
        width: 20vw;
        height: 15vh;
        margin-left: -45px;
        border-radius: 100%;
        border:1px solid;
        position: relative;
        left: 7%;
        top: 310px;
    }
    
    .corazon{
        color: red;
    }    
           
            
            
    /*SECCION CONSULTAS*/
    .section-form{
        width: 100%;
        height: 100%;
    }
    .section-form h1{
        width: 60%;
        font-size: 30px;
        font-family: 'Edu VIC WA NT Beginner';
        text-transform: uppercase;
        border-bottom: 1px solid #1e1e1e;
        position: relative;
        top: 15px;
        left: 20%;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .datos-formulario{
        width: 60%;
        position: relative;
        top: 50px;
        text-align: start;
        margin: 15px;
        padding: 20px;
        border: 0;
        background-color: #d4a373;
        border-bottom:1px solid #1e1e1e;
        border-radius: 10px;
        transition: 1s;
    }
    .datos-formulario:focus{
        width:65%;
        text-align: start;
        margin: 5px;
        padding: 15px; 
        border: 0;
        background-color: #eee;
        border-bottom:1px solid #1e1e1e;
        border-radius: 10px;
    }
    .datos-formulario::placeholder{
        font-size: 15px;
        color: black;
    }
            
    .boton{
        width: 65%;
        margin: 2px 35vw;
        border-radius: 5px;
        padding: 10px;
        background-color: #1e1e1e;
        color: white;
        position: relative;
        top: 50px;
    }
    .boton:active{
        width: 25%;
        margin: 2px 35vw;
        border-radius: 5px;
        padding: 10px;
        background-color: gray;
        color: white;
    }
    .footer-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        background-color: #1e1e1e;
        color: #d4a373;
        position: relative;
        top: 300px;
        padding: 50px;
    }
    .footer-nav p a{
        text-decoration: underline;
        color: white;
    }
    /*SECCION PRODUCTOS*/
    .titulo-productos{
        width: 50%;
        font-size: 30px;
        font-family: 'Edu VIC WA NT Beginner';
        text-transform: uppercase;
        border-bottom: 1px solid #1e1e1e;
        position: relative;
        top: 15px;
        left: 25%;
        text-align: center;
            }
    .productos{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-body{
        width: 80%;
        height: 80%;
        border-radius: 10px;
        background-color: white;
        margin-top: 10%;
        margin-left: 10%;
        border: solid #1e1e1e;
    }
            
            /*
                animation-name: movimiento-imagen;
                animation-duration: 2s;
                animation-iteration-count: infinite;
           
            @keyframes movimiento-imagen {
                0%{
                    box-shadow: 2px 0px 5px 0.5px #1e1e1e;
                    transform: rotateY(10deg);
                }
                50%{
                    box-shadow: -2px 0px 5px 0.5px #1e1e1e;
                    transform: rotateY(-10deg);
                }
                100%{
                    box-shadow: 2px 0px 5px 0.5px #1e1e1e;
                    transform: rotateY(10deg);
                }
            }
            */
            .imagen{
                width: 100%;
                height: 50%;
                border-radius: 5px;
                box-shadow: 1px 0px 3px 1px #1e1e1e;
            }
            
            .tituloDelProducto{
                margin-top: 5%;
                margin-bottom: 5%;
                font-size: 130%;
                text-align: center;
                font-weight: 400px;
                font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
            }
            .precio{
                width: 80%;
                height: 8%;
                font-size: 15px;
                margin-left: 5%;
                text-align: center;
            }
            .descripcion{
                text-align: center;
                color: black;
                margin-bottom: 5%;
            }
            
            .card-link{
                display: inline;
                text-decoration: underline;
                font-size: 80%;
                font-style: italic;
                color: black;
                width: 100%;
                margin-left: 20%;
            }
            .card-body ion-icon{
                margin-left: -5%;
                font-size: 250%;
                position: relative;
                bottom: 5%;
                left: 15%;
            }
           /*
           .productos .card:hover .card-link-wsp{
                color: black;
                text-decoration: none;
            }
           .productos .card:hover .card-link-mediosdepago{
                color: black;
                text-decoration: none;
            }
            */ 
            
            /*SECCION METODO DE PAGO*/
            .titulo-metododepago{
                width: 40%;
                font-size: 40px;
                font-family: 'Edu VIC WA NT Beginner';
                text-transform: uppercase;
                border-bottom: 1px solid #1e1e1e;
                position: relative;
                top: 15px;
                left: 30%;
                text-align: center;
            }
            .section-metodos{
                border: 1px solid;
                margin-top: 25%;
            }
            .section-ul{
                display: block;
            }
            .section-li{
               text-decoration: none;
               list-style: none;
               font-size: 25px;
            }
            .section-li ion-icon{
              position: relative;
              top: 5px;
              margin-right: 15px;   
            }
            .section-li a{
                display: flex;
                font-size: 10px;
                position: relative;
                left: 50px;
                color: black;
            }
}













/**/ 
@media only screen and (min-width: 769px) and (max-width: 1024px){
    /*Seccion HEADER*/
    .header{
        max-width: 100%;
        height: 100%;
    }
    .contenedor-imagenes{
        width: 100vw;
        height: 150px;
        align-items: center;
    }
    .imagen-letra{
        width: 20vw;
        height: 16vh;
        position: relative;
        top: 40%;
        left: 30%;
        margin-left: -40px;
        border-radius: 100%;
        background-color: white;
    }
    .contenedor-nav{
        width: 100%;
        height: 35px;
        display: flex;
        background-color: #1e1e1e;
        box-shadow: 1px 2px 2px 1px #4A4A4A;
    }
    .contenedor-nav li{
        width: 100%;
        height: 100%;
        list-style: none;
        margin-top: 1%;
        text-align: center;
        position: relative;
        right: 5%;
    }
    .contenedor-nav li a{ 
        width: 100%;
        height: 30%;
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: 100%;
    }
    
    /*Sección INICIO titulo-imagenes-footer*/
    .titulo-amigurumi{ 
        width: 45%;
        margin-top: 50px;
        margin-left: 27%;
    }
    .titulo-amigurumi h1{
        font-family: 'Edu VIC WA NT Beginner';
        text-transform: uppercase;
        font-size: 25px;
        border-bottom: 1px solid black;
        text-align: center;
    }
    .carousel-general{
        width: 100%;
        height: 100%;
    }
    .carousel-general .img1{
        border-radius: 10%;
        height: 500px;
    }
    .carousel-general .img2{
        border-radius: 10%;
    }
    
    .general-video-texto{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        
    }
    .videoInicio iframe{
        border-radius: 25px;
        width: 100%;
        height: 250px;
    }
    
    .parrafoInicio{
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 5px;
        border-radius: 5%;
        background-color: #1e1e1e;
        color: white;
     }
    .parrafoInicio p{
        font-family: "Montserrat", sans-serif;
    }
     
            
    /*FOOTER*/
    .footer-contenedor{
        background-color: #1e1e1e;
        color: white;
        display: flex;
        position: relative; 
        top: 50vh;
        height: 300px;
        justify-content: space-around;
    }
    .div-mediodepago{
        margin-top: 30px;
    }
    .div-mediodepago li{
        list-style: none;
    }
    .div-mediodepago h2{
        font-size: 20px;
        color: white;
    }
    .div-mediodepago a{
        text-decoration: none;
        font-size: 15px;
        color: white;
    }
    
    .div-redes{
        margin-top: 30px;
    }
    .div-redes li{
        display: inline;
    }
    .icon{
        width: 40px;
        height: 40px;
        color: white;
    }
    .div-redes a{
        text-decoration: none;
        font-size: 10px;
        color: white;
    }
            
    .div-redes a:hover{
        color: #d4a373;
    }
    
    
    /* SECCION SOBRE MI*/
    .parrafo-presentacion{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        background-color: #1e1e1e;
        color: white;
        border-radius: 30px;
        padding: 25px;
        box-shadow: 1px 1px 1px 1px #4A4A4A;
        font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    }
    .titulo-presentacion{
        width: 30%;
        font-size: 30px;
        font-family: 'Edu VIC WA NT Beginner';
        text-transform: uppercase;
        border-bottom: 1px solid #1e1e1e;
        position: relative;
        top: 20px;
        left: 37%;
        text-align: center;
    }
    .letra{
        background-color: white;
        width: 20vw;
        height: 15vh;
        margin-left: -45px;
        border-radius: 100%;
        border:1px solid;
        position: relative;
        left: 7%;
        top: 310px;
    }
    
    .corazon{
        color: red;
    }    
           
            
            
    /*SECCION CONSULTAS*/
    .section-form{
        width: 100%;
        height: 100%;
    }
    .section-form h1{
        width: 60%;
        font-size: 30px;
        font-family: 'Edu VIC WA NT Beginner';
        text-transform: uppercase;
        border-bottom: 1px solid #1e1e1e;
        position: relative;
        top: 15px;
        left: 20%;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .datos-formulario{
        width: 60%;
        position: relative;
        top: 50px;
        text-align: start;
        margin: 15px;
        padding: 20px;
        border: 0;
        background-color: #d4a373;
        border-bottom:1px solid #1e1e1e;
        border-radius: 10px;
        transition: 1s;
    }
    .datos-formulario:focus{
        width:65%;
        text-align: start;
        margin: 5px;
        padding: 15px; 
        border: 0;
        background-color: #eee;
        border-bottom:1px solid #1e1e1e;
        border-radius: 10px;
    }
    .datos-formulario::placeholder{
        font-size: 15px;
        color: black;
    }
            
    .boton{
        width: 65%;
        margin: 2px 35vw;
        border-radius: 5px;
        padding: 10px;
        background-color: #1e1e1e;
        color: white;
        position: relative;
        top: 50px;
    }
    .boton:active{
        width: 25%;
        margin: 2px 35vw;
        border-radius: 5px;
        padding: 10px;
        background-color: gray;
        color: white;
    }
    .footer-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        background-color: #1e1e1e;
        color: #d4a373;
        position: relative;
        top: 300px;
        padding: 50px;
    }
    .footer-nav p a{
        text-decoration: underline;
        color: white;
    }
    /*SECCION PRODUCTOS*/
    .titulo-productos{
        width: 50%;
        font-size: 30px;
        font-family: 'Edu VIC WA NT Beginner';
        text-transform: uppercase;
        border-bottom: 1px solid #1e1e1e;
        position: relative;
        top: 15px;
        left: 25%;
        text-align: center;
            }
    .productos{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .card-body{
        width: 80%;
        height: 80%;
        border-radius: 10px;
        background-color: white;
        margin-top: 10%;
        margin-left: 10%;
        border: solid #1e1e1e;
    }
            
            /*
                animation-name: movimiento-imagen;
                animation-duration: 2s;
                animation-iteration-count: infinite;
           
            @keyframes movimiento-imagen {
                0%{
                    box-shadow: 2px 0px 5px 0.5px #1e1e1e;
                    transform: rotateY(10deg);
                }
                50%{
                    box-shadow: -2px 0px 5px 0.5px #1e1e1e;
                    transform: rotateY(-10deg);
                }
                100%{
                    box-shadow: 2px 0px 5px 0.5px #1e1e1e;
                    transform: rotateY(10deg);
                }
            }
            */
            .imagen{
                width: 100%;
                height: 50%;
                border-radius: 5px;
                box-shadow: 1px 0px 3px 1px #1e1e1e;
            }
            
            .tituloDelProducto{
                margin-top: 5%;
                margin-bottom: 5%;
                font-size: 130%;
                text-align: center;
                font-weight: 400px;
                font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
            }
            .precio{
                width: 80%;
                height: 8%;
                font-size: 15px;
                margin-left: 5%;
                text-align: center;
            }
            .descripcion{
                text-align: center;
                color: black;
                margin-bottom: 5%;
            }
            
            .card-link{
                display: inline;
                text-decoration: underline;
                font-size: 80%;
                font-style: italic;
                color: black;
                width: 100%;
                margin-left: 20%;
            }
            .card-body ion-icon{
                margin-left: -5%;
                font-size: 250%;
                position: relative;
                bottom: 5%;
                left: 15%;
            }
           /*
           .productos .card:hover .card-link-wsp{
                color: black;
                text-decoration: none;
            }
           .productos .card:hover .card-link-mediosdepago{
                color: black;
                text-decoration: none;
            }
            */ 
            
            /*SECCION METODO DE PAGO*/
            .titulo-metododepago{
                width: 40%;
                font-size: 40px;
                font-family: 'Edu VIC WA NT Beginner';
                text-transform: uppercase;
                border-bottom: 1px solid #1e1e1e;
                position: relative;
                top: 15px;
                left: 30%;
                text-align: center;
            }
            .section-metodos{
                border: 1px solid;
                margin-top: 25%;
            }
            .section-ul{
                display: block;
            }
            .section-li{
               text-decoration: none;
               list-style: none;
               font-size: 25px;
            }
            .section-li ion-icon{
              position: relative;
              top: 5px;
              margin-right: 15px;   
            }
            .section-li a{
                display: flex;
                font-size: 10px;
                position: relative;
                left: 50px;
                color: black;
            }
}


