.contenedor-mensaje-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #1e1e1e;
    border-bottom: 0.5px solid #1e1e1e;
    padding: 20px;

    p{
        font-size: 20px;
        font-weight: 600;
        width: 50vw;
        padding: 10px;
        color: black;
    }
    
    div{
        display: flex;
        justify-content: center;
        align-items: center;
            
            #facebook{
                font-size: 50px;
                color: #3b5998;
                cursor: pointer;
                margin: 5px;
            }
            #instagram{
                font-size: 50px;
                color: rgb(172, 32, 118);
                cursor: pointer;
                margin: 5px;
            }
            #facebook:hover{
                font-size: 50px;
                border-radius: 30px;
                color:white;
                background-color: #6c757d;
                cursor: pointer;
            }
            
            #instagram:hover{
                font-size: 50px;
                border-radius: 20px 20px;
                color: white;
                background-color: #6c757d;
                cursor: pointer;
            }
           
            
    }
}
.div-contacto-ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font-weight: 500;
        ion-icon{
            position: relative;
            top: 5px;
            padding-right: 15px;
            font-size: 20px;
        }
    }
    

}

.contenedor-formulario{
    display: flex;
    
    
}
#formulario-contacto{
    min-width: 50vw;
    place-items: center;
    border: 0.5px solid black;
    //background-color: #dc3545;   
    border-radius: 25px;
    padding: 20px;
    background-color: #eee;
    text-align: center;

        input{
            border:0.5 solid black;
            padding: 2px;
            cursor: white;
            color: black;
            font-size: 22px;
            box-shadow: 0px 0px 2px 1px black;
        }
        input::placeholder{
            padding: 10px 3px;
            color: black;
            font-size: 20px;

        }
        
        
        button{
            background-color:#dc3545;
            color: white;
            border-radius: 10px;
            border-color: #dc3545;
            box-shadow: 0px 0px 2px 1px black;
            font-size: 15px;
            margin: 5px;
            padding: 10px;
        }
        button:active{
            background-color: red;
            color: white;
            border-radius: 10px;
        }
}
.cont-global{
    
    .cont-formulario{
            display: flex;       
            justify-content: center;

        }
}