.contenedor-mensaje-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #1e1e1e;
    border-bottom: 0.5px solid #1e1e1e;
    padding: 20px;

    p{
        font-size: 20px;
        font-weight: 600;
        width: 50vw;
        padding: 10px;
        color: red;
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
            
            #facebook{
                font-size: 50px;
                color: #3b5998;
                cursor: pointer;
                margin: 5px;
            }
            #instagram{
                font-size: 50px;
                color: rgb(172, 32, 118);
                cursor: pointer;
                margin: 5px;
            }
            #facebook:hover{
                font-size: 50px;
                border-radius: 30px;
                color:white;
                background-color: #6c757d;
                cursor: pointer;
            }
            
            #instagram:hover{
                font-size: 50px;
                border-radius: 20px 20px;
                color: white;
                background-color: #6c757d;
                cursor: pointer;
            }
           
            
    }
}
.div-contacto-ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        
        ion-icon{
            position: relative;
            top: 2px;
            margin-left: 5px;
        }
    }
    

}

.contenedor-formulario{
    display: flex;
    flex-direction: row;
    #formulario-contacto{
        border-radius: 25px;
        padding: 15px;
        background-color: #eee;

            input{
                border:0;
                border-bottom: 0.5px solid;
                background-color: #eee;
                padding: 10px;
            }
            input:focus{
                border-color: rgb(0, 0, 0);
                box-shadow: 0 1px 1px rgba(32, 22, 22, 0.562)inset, 0 0 8px rgba(0, 0, 0, 0.6);
                outline: 0 none;
            }
    }
}