
.footer-contenedor{
    background-color: #1e1e1e;
    color: white;
    display: flex;
    position: relative; 
    top: 50vh;
    height: 300px;
    justify-content: space-around;
}
.div-mediodepago{
    margin-top: 30px;
        li{
            list-style: none;
        }
        h2{
            font-size: 20px;
            color: white;
        }
        a{
            text-decoration: none; 
            font-size: 15px;
            color: white; 
        }
}


.div-redes{
    margin-top: 40px;
        li{
            display: flex;
            justify-content: center;
                a{
                    text-decoration: none;
                    font-size: 10px; 
                    color: white; 
                    margin-top: 10px;
                }
        }
}

