@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}
@mixin sizes-img($w, $h){
    width: $w;
    height: $h;
}
.cont-inicio-index{
    padding: 5px;
        div{
            margin-top: 15px;
            #backInicio{
                text-decoration: none;
                color: #8f8f8f; 
                font-family: "Montserrat", sans-serif;
                font-size: 13px;
            }
            #backInicio:hover{
                font-size: 13px;
                text-decoration: none;
                color: #3f3f3f; 
                font-family: "Montserrat", sans-serif;
            }
            #tituloIndex{
                font-size: 13px;
                display: inline;
                color: #8f8f8f;
                font-family: "Montserrat", sans-serif;
            }
        }
        
        
}

.cont-general-seccionesdestacadas{
    
    .titulo-seccionesDestacadas{
        font-family: "Montserrat", sans-serif;
        text-decoration: underline;   
    }
    .cont-secciones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 100px;
            padding: 20px;
            border-radius: 25px;
            background-color:#3b5998;
            margin: 5px;
            
            .titu{
                padding-top: 12px;
            }
            ion-icon{
                font-size: 30px;
                border: 1px solid white;
                border-radius: 100%;
                padding: 15px;
                color: white;
            }
            h3{
                font-family: "Montserrat", sans-serif;
                
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                }
                
            }
        }
        div:hover{
            background-color:white;
            text-decoration: underline;
            border:black solid;
            color: black;
            
            ion-icon{
                border: 1px solid white;
                animation-name: iconos;
                animation-iteration-count: infinite;
                animation-duration: 1s;
                font-size: 35px;
                color: black;
            }
            @keyframes iconos {
                0%{
                    transform: rotate(10deg);
                }
                50%{
                    transform: rotate(-10deg);
                }
                100%{
                    transform: rotate(10deg);
                }
            }
            a{
                color: black;
            }
        }
    }  

}

.general-video-texto{
    background-color: #343a40;
    padding: 50px;
    .videoInicio{
        position: relative;
        right: 5%;
        iframe{
            border-radius: 20px;
        }
    }
    #parrafoInicio{
        p{
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            padding: 25px;
            color: black;
            background-color:white;
            border-radius: 25px;
     
        }
        .general-div-flecha{
            display: flex;
            justify-content: center;
            
            .cuadrado-flecha{
                height: 50px;
                width: 60px;
                background-color: white;    
                transform: rotate(45deg);
                border-radius: 0px 0px 100px 0px;
                position: relative;
                top: 35px;
                right: 15%;
                
            }
        }
        
        
    }

}

.carousel-item {
    margin-top: 25px; }
    .carousel-item img {
      max-height: 600px; }
      





      .novedades{
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }