@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}
@mixin sizes-img($w, $h){
    width: $w;
    height: $h;
}


.cont-general-seccionesdestacadas{
    
    .titulo-seccionesDestacadas{
        font-family: "Montserrat", sans-serif;
        text-decoration: underline;   
    }
    .cont-secciones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75%;
            height: 100px;
            padding: 20px;
            
            .titu{
                padding-top: 12px;
            }
            ion-icon{
                font-size: 30px;
                border: 1px solid black;
                border-radius: 100%;
                padding: 15px;
            }
            h3{
                font-family: "Montserrat", sans-serif;
                
                a{
                    text-decoration: none;
                    color: black;
                }
                
            }
        }
        div:hover{
            background-color:#e3d5ca;
            
        }
    }  

}

.general-video-texto{

    #parrafoInicio{

        p{
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            margin-top: 25px;
            padding: 25px;
            color: black;
            background-color:#e3d5ca;
        }
        
    }

}




