/*SECCION MEDIOS DE PAGO*/
.section-ul{
    display: flex; 
    list-style: none;
    margin-left: 3%;
   
        li{
            margin-top: 50px;
            width: 400px;
            font-size: 35px;

                ion-icon{
                    position: relative;
                    top: 10px;
                    font-size: 25px;
                    border-color: #e3d5ca;
                    margin-right: 10px;
                    padding: 10px; 
                    border: 1px solid black;
                    border-radius: 50%;
                }
                a{
                    display: block;
                    width: 100%;
                    position: relative;
                    left: 10%;
                    font-size: 15px;
                }
        }
}




