#article-parrafo-img{
    div{

        img{
            width: 100%;
            max-height:700px;
            border: 25px;
            box-shadow: 0px 0px 4px 2px black;
        }
    }
    p{
        width: 100%;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        margin-top: 25px;
        color: gray;
    }
    p:hover{
        width: 100%;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        margin-top: 25px;
        color: black;
    }
}