.cont-producto{
    background-color: #eee;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
        a{
           
            #wsp:hover{
                color: green;
                font-size: 35px;
            }
            #email:hover{
                color: blue;
                font-size: 35px;
            }
            #pagos:hover{
                color: red;
                font-size: 35px;
            }
           
        }
}
.cont-producto:hover{
    box-shadow: 0px 0px 5px 1px black;
}

@media only screen and (max-width: 575px){
    .cont-producto{
        background-color: #eee;
        margin: 20px 45px;
        border-radius: 5px;
        a{
           
            #wsp{
                color: black;
                font-size: 35px;
            }
            #email{
                color: black;
                font-size: 35px;
            }
            #pagos{
                color: black;
                font-size: 35px;
            }
           
        }
    }
    .cont-producto:hover{
        box-shadow: 0px 0px 5px 1px black;
    }

}




.div-productos-nroVentas{
    display: flex;
}
.titulo-servicio{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    
}

.div-descripcion-producto{
    margin-top: 10px;
    .div-material-precio{
        margin-top: 10px;
    }
    .tituloDelProducto{
        text-decoration: underline;
        padding-bottom: 5px;
    }
}