.cont-producto{
    border: 1px solid gray;
    background-color: #eee;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
        a{
           
            #wsp:hover{
                color: green;
                font-size: 35px;
            }
            #email:hover{
                color: blue;
                font-size: 35px;
            }
            #pagos:hover{
                color: red;
                font-size: 35px;
            }
           
        }
}
.cont-producto:hover{
    box-shadow: 0px 0px 5px 1px black;
}

@media only screen and (max-width: 575px){
    .cont-producto{
        border: 1px solid black;
        background-color: #eee;
        margin: 20px 45px;
        border-radius: 5px;
        a{
           
            #wsp{
                color: black;
                font-size: 35px;
            }
            #email{
                color: black;
                font-size: 35px;
            }
            #pagos{
                color: black;
                font-size: 35px;
            }
           
        }
    }
    .cont-producto:hover{
        box-shadow: 0px 0px 5px 1px black;
    }

}


.div-boton-verProducto{
    width: 100%;
    display: flex; 
    justify-content: center;

    .boton-verProducto{
        display: block;
        width: 75%;
        text-align: center;
        border-radius: 25px;
        background-color: #1e1e1e;
        color: white;
        margin-bottom: 15px;
    }
    .boton-verProducto:active{
        display: block;
        width: 75%;
        text-align: center;
        border-radius: 25px;
        background-color: red;
        color: white;
    }
}

.div-productos-nroVentas{
    display: flex;
}
.titulo-servicio{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    
}