@import 'header';
@import 'index';
@import 'contacto';
@import 'nosotros';
@import 'mediodepago';
@import 'footer';
@import 'productos';
@import 'backMenu';

body{
    
}

/*SECCION PRODUCTOS 

background-image: url("../img/background-fondo.jpg");
    background-size: cover;

*/


.card-body img{
    max-width: 150%;
    max-height: 150px;
    border-radius: 25px;
}
.card-body img:hover{
    max-width: 150%;
    max-height: 150px;
    border-radius: 25px;
    cursor: pointer;
}

.card-body{
    
    .precio{
        color: black;
        font-weight: 600;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    .tituloDelProducto{
        font-weight: 900;
    }
}
.card-link{
    color: black;
    font-size: 30px;
}

/*Sección INICIO - menu*/
.img{
    max-height: 70px;
}
.carousel-inner img{
    position: relative;
    left: 12%;
    max-height: 600px;
    
}
.titulo-productos{
    font-family: "Montserrat", sans-serif;
}
.parrafoInicio{
    border-radius: 25px;
}

.title{
    font-size: 35px;
    margin-bottom: 50px;
}
.nav-item a{
    font-size: 18px;
}
.icon-menu{
    position:relative;
    top: 3px;
    right: 5px;
    font-size: 22px;
}

/*BACK MENU*/
.recorrido{
    display: flex;
    position: relative; 
    top: 50vh;
    height:70px;
    justify-content: space-around;
}
.recorrido ion-icon{
    font-size: 40px;
    color: black;
    border: solid; 
    border-radius: 100%;
    background-color: white;
}